/* add your CSS here */
span {
	font-weight: bold;
}

.fact {
	padding: 5px;
	font-style: italic;
}

ul {
	list-style-type: none;
	padding: 0;
}

.HollandLop {
	border: 1px outset #C4C4C4FF;
	box-shadow: 5px 5px #C4C4C4FF;
	padding: 5px;
	width: 310px;
}

.info {
	margin:4px;
	padding: 5px;
	width: 290px;
	border: 1px solid #C4C4C4FF;
}

img {
	width: 300px;
	padding: 5px;
}

h3 {
	padding: 5px;
}
